@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Cards and Holders */
.App {
  margin-top: 100px;
  background-color: #ffffff;
  font-family: 'Lexend Deca', sans-serif !important;
  text-align: center;
  color: #FF9400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gray {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 425px !important;
  margin: 3% auto;
  background-image: linear-gradient(#eee, rgb(204, 200, 200));
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.orange-unlock {
  border-radius: 25px;
  width:100%;
  max-width: 40%;
  min-width: 425px !important;
  margin: 3% auto;
  background-image: linear-gradient(#FF9400, #ffc16b);
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.gray2 {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 425px !important;
  margin: 3% auto;
  background-image: linear-gradient(#3d386b, #554c9c);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #ffffff !important;
  text-align: left !important;
}

.valert {
  border-radius: 25px;
  width:100%;
  max-width: 40%;
  min-width: 425px !important;
  margin: 1% auto;
  background-image: linear-gradient(#dc3840, #e26c72);
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.yellow-unlock {
  border-radius: 25px;
  width:100%;
  max-width: 40%;
  min-width: 425px !important;
  margin: 3% auto;
  background-image: linear-gradient(#FAC91A, #fde17c);
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.about {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 425px !important;
  margin: 3% auto;
  padding-top: 1%;
  padding-bottom: 1%;
  background-image: linear-gradient(#3d386b, #726baf);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #ffffff !important;
}

.yellowB {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 425px !important;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  background-image: linear-gradient(#FAC91a,#fcd95c);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.past {
  border-radius: 25px;
  width:100%;
  max-width: 40%;
  min-width: 425px !important;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  background-image: linear-gradient(#a8a4a4 , #c2bfbf);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.orangeB {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 425px !important;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  background-image: linear-gradient(#FF9400,#fab759);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

/* Links & Buttons*/

a:link {color: #FFff!important;
        border: none;}
a:active{
  box-shadow: none !important;
  color: #FAC91A!important;
}
a:visited {color: #FFff!important;}
a:hover {
  border-radius: 25px;
  text-decoration: none;
  color: #3d386b!important;
  }

a.alt:link {color: #FF9400 !important;}
a.alt:visited {color: #FF9400 !important;}
a.alt:hover {
  background-color: none !important;
  color: #FAC91A !important;}

.alt {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  border-radius: 25px !important;
  border: none !important;
  justify-content: left !important;
}

.alt2 {
  border-radius: 25px !important;
  margin-top: 3%;
  padding: 2%;
  border: none !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #ffffff !important;
  background-color: #3d386b !important;
}

.alt2:hover {
  background-color: #FF9400 !important;
}

.aboutbutton {
  border-radius: 25px !important;
  margin-top: 3%;
  border: none !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
  background-color: #FF9400 !important;
}

.aboutbutton:hover {
  background-color: #FAC91A !important;
}

.aboutbutton:active {
  background-color: #3d386b !important;
  color: #ffffff !important;
}

.aboutbutton:focus {
  box-shadow: none;
  background-color: #3d386b !important;
  color: #ffffff !important;
}

.aboutlink {
  color: #FF9400 !important;
}

.submitbutton {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.TARO-button {

  border-radius: 25px !important;
  background-color: #3d386b;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.TARO-button:hover {

  border-radius: 25px !important;
  background-color: #FAC91a;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.TARO-button:active {
  box-shadow: none !important;
  border-radius: 25px !important;
  background-color: #FAC91a !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.TARO-button:focus {
  box-shadow: none !important;
  background-color: #FF9400 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.Wallet {
  border-radius: 25px !important;
  margin-top: 3%;
  margin-bottom: 1%;
}

button:disabled {
  background-color: #5f5f5f !important;
  color: #cac9c9 !important;
}

Button {
  border-radius: 25px !important;
  background-color: #FF9400 !important;
  border: none !important;
  color: #ffffff ;
}

Button:hover {
  border-radius: 25px !important;
  background-color: #FAC91A !important;
  border: none !important;
  color: #3d386b !important;
}

Button:active {
  box-shadow: none !important;
}

Button:focus {
  box-shadow: none !important;
}


/* Header */

.justify-content-end {
  vertical-align: middle !important;
  text-align: right;
}

Nav {
  margin-bottom: 25px !important;
  background-image: linear-gradient(#3d386b, #716ba3);
  position: fixed !important;
  font-family: 'Lexend Deca', sans-serif;
  color: #FF9400;
}

.NavLink {
  margin-left: 15px;
  text-align: right;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.NavLink:hover {
  color: #FF9400 !important;
  margin-left: 15px;
  text-align: right;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.language {
  vertical-align: middle !important;
  border-radius: 25px !important;
  border: none !important;
  text-align: left !important;
  display: inline-block !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #ffffff !important;
}

div.dropdown-menu.show {
  margin-bottom: 5px !important;
  text-align: center;
  background-color: #FF9400;
  border-radius: 25px !important;
}
div.dropdown-menu.show:hover {
  text-align: center;
  background-color: #FAC91A;
  border-radius: 25px !important;
}

a.dropdown-item:hover {
  background-color: #FAC91A;
}

/* Text and Elements */
.space {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #ffffff !important;
}
.main  {
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
  text-align: justify !important;
  text-justify: inter-word !important;
  box-sizing: border-box !important;
  padding: 15px;
}

.placeholder {
  font-size: 14px !important;

}

.text-medium-left {
  font-size: 1rem !important;
  text-align: center !important;
  display: inline-block !important;
  justify-content: center !important;
  align-content: center !important;
  position: relative !important;
  margin-bottom: 5%;
}

.spinner-grow {
  font-size: 50px !important;
  height: 25px;
  width: 25px;
}

.text-large {
  font-family: 'Lexend Deca', sans-serif !important;
  text-align: center;
  font-size: 2rem !important;
  margin-top: 1% !important;
  margin-bottom: 2%;
}

.text-large-quiz {
  font-family: 'Lexend Deca', sans-serif !important;
  text-align: left;
  font-size: 20px !important;
}

.floating {
  border-radius: 25px;
  width:100%;
  max-width: 40%;
  min-width: 425px !important;
  margin: 3% auto;
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.title {
  color: #3d386b;
  font-size: 2rem !important;
  ;
}

.title2 {
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px !important;
  text-align: center;
  color: #3d386b;
}

.titlep {
  width: 100% !important;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px !important;
  text-align: center;
  color: #3d386b;
}

.title3 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.create {
  text-align: center;
  width:90% !important;
}

.white2 {
  text-align: left;
  margin-bottom: 1% !important;
  font-size: 18px !important;
  color: #ffffff !important;
}

.orange {
  margin-top: 1% !important;
  font-size: 2rem !important;
  color: #FF9400;
}

.orange2 {
  margin-bottom: 3% !important;
  font-size: 18px !important;
  color: #FF9400 !important;
}

.orange3 {
  font-size: 20px;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  color: #FF9400 !important;
}

.yellow {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  color: #FAC91a !important;
}

.purple-unlock {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  font-size: 18px !important;
  color: #3d386b !important;
}

.big-icon {
  font-size: 75px !important;
  text-align: center !important;
  color: #ffffff;
}

.modalheader {
  text-align: center !important;
  font-size:30px !important;
  color: #ffffff;
}

.aboutC {
  text-align: left !important;
  font-size: 20px !important;
  color: #ffffff;
}
.aboutCo {
  text-align: left !important;
  margin-bottom: 2%;
  font-size: 20px !important;
  color: #FF9400;
}

.purple {
  text-align: left !important;
  margin-top: 3%;
  font-size: 2rem !important;
  color: #ffffff;
}

.purple2 {
  margin-top: 1%;
  color: #3d386b;
}

.purple3 {
  font-size: 15px !important;
  text-align: center !important;
  margin-top: 1%;
  color: #3d386b;
}

.white {
  color: #ffffff !important;
  text-align: justify !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
}


/* Proposal */

.proposal {
  border-radius: 25px;
  width:auto;
  min-width: 400px !important;
  margin: 3% auto;
  background-image: linear-gradient(#3d386b , #7770b4);
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.proposala {
  border-radius: 25px;
  width:100%;
  min-width: 425px !important;
  margin: 3% auto;
  background-image: linear-gradient(#36a74e, #82bb8e)!important;
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.proposalr {
  border-radius: 25px;
  width:100%;
  min-width: 425px !important;
  margin: 3% auto;
  background-image: linear-gradient(#dc3840, #da898d)!important;
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.proposal-table {
  width: 100%;
  display: table !important;
}

.proposal-main {
  font-size: 15px !important;
  display: table-row !important;
}

.question-card {
  background-color: transparent !important;
  width: 100%;
  border: none;
  margin-top: 3% !important;
  font-size: 15px !important;
  color: #ffffff !important;
}

.orange-card {
  background-image: linear-gradient(#3d386b , #3d386b);
  width: 100%;
  border-radius: 5px;
  margin-top: 5% !important;
  font-size: 15px !important;
  color: #ffffff !important;
}

.orange-card2 {
  background-color: #FF9400;
  width: 100%;
  margin-left: 2%;
  border-radius: 10px;
  text-align: center !important;
  font-size: 12px !important;
  color: #3d386b !important;
}

.yellow-card {
  width: 100%;
  text-align: center;
  margin-left: 2%;
  border-radius: 10px;
  font-size: 12px !important;
  color: #3d386b !important;
  background-image: linear-gradient(#FAC91A,#FAC91A);
}

.white-card {
  width: 100%;
  margin-left: 2%;
  border-radius: 10px;
  background-image: linear-gradient(#ffffff,#e6e6e6);
  margin-top: 3% !important;;
  font-size: 12px !important;
  text-align: center !important;
  color: #3d386b !important;
}

.white-cost {
  width: 95%;
  border-radius: 25px;
  background-image: linear-gradient(#ffffff,#ffffff);
  margin-top: 3% !important;;
  font-size: 25px !important;
  text-align: center !important;
  color: #3d386b !important;
}

.proposal-title {
  width: 70%;
  display: table-cell;
  text-align: left !important;
  font-size: 20px !important;
  color: #ffffff !important;
}


.proposal-title3 {
  width: 25%;
  display: table-cell;
  text-align: left !important;
  font-size: 12px !important;
  color: #FF9400 !important;
}

.proposal-titles {
  width: 40%;
  display: table-cell;
  text-align: left !important;
  font-size: 12px !important;
  color: #FAC91A !important;
}

.proposal-favor {
  width: 50%;
  display: table-cell;
  text-align: left !important;
  font-size: 20px !important;
  color: #ffffff !important;
}

.proposal-against {
  width: 50%;
  display: table-cell;
  text-align: right !important;
  font-size: 20px !important;
  color: #ffffff !important;
}

.proposal-action {
  display: table-cell;
  text-align: center !important;
  font-size: 15px !important;
  color: #FF9400 !important;
}

.proposal-sub {
  display: table-cell;
  text-align: left !important;
  font-size: 15px !important;
  color: #3d386b !important;
}

.proposal-description {
  padding-left: 3%;
  display: table-cell;
  text-align: left !important;
  font-size: 15px !important;
  color: #ffffff !important;
}

.proposal-subaction {
  display: table-cell;
  text-align: right !important;
  font-size: 14px !important;
  color: #3d386b !important;
}

.against {
  background-color: #3d386b !important;
  border-radius: 25px !important;
  margin-top: 3%;
  margin-bottom: 1%;
}

.favor {
  background-color: #3d386b !important;
  border-radius: 25px !important;
  margin-top: 3%;
  margin-bottom: 1%;
}

.modal {
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
  text-align: center !important;
  font-family: 'Lexend Deca', sans-serif !important;
  border: none !important;
}

.orange-modal {
  background-color: #FF9400 !important;
  border-radius: 25px !important;
  background-image: linear-gradient(#FF9400, #ffc16b);
  font-family: 'Lexend Deca', sans-serif !important;
  color: #ffffff !important;
}

.modal-content {
  background-color: #FF9400 !important;
  border-radius: 25px !important;
  text-align: center !important;
  background-image: linear-gradient(#FF9400, #ffc16b);
  font-family: 'Lexend Deca', sans-serif !important;
  color: #3d386b !important;
}

.modal-2 .modal-content {
  border-radius: 25px !important;
  text-align: center !important;
  background-image: linear-gradient(#dc3840, #e26c72);
  font-family: 'Lexend Deca', sans-serif !important;
  color: #ffffff !important;
}

.big-iconf {
  border-radius: 20px;
  background-image: linear-gradient(#36a74e, #82bb8e)!important;
  margin-right: 2% ;
  font-size: 65px !important;
  text-align: center;
  color: #ffffff;
}

.big-icona {
  font-size: 65px !important;
  margin-left: 2%;
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
  background-color: #dc3840;
  background-image: linear-gradient(#dc3840, #da898d)!important;
}
