@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


.App {
  margin-top: 100px;
  background-color: #ffffff;
  font-family: 'Lexend Deca', sans-serif !important;
  text-align: center;
  color: #FF9400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {color: #FFff!important;
        border: none;}
a:active{color: #FAC91A!important;}
a:visited {color: #FFff!important;}
a:hover {
  text-decoration: none;
  color: #3d386b!important;
  background-color: #FAC91A !important;}

a.alt:link {color: #FF9400 !important;}
a.alt:visited {color: #FF9400 !important;}
a.alt:hover {
  background-color: transparent !important;
  color: #FAC91A !important;}

.nohover {
  background-color: #3d386b!important;
}

a.alt3:link {color: #ffffff !important;}

.alt {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  border-radius: 25px !important;
  border: none !important;
  justify-content: left !important;
}

.alt2 {
  border-radius: 25px !important;
  margin-top: 3%;
  padding: 2%;
  border: none !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #ffffff !important;
  background-color: #3d386b !important;
}

.aboutbutton {
  border-radius: 25px !important;
  margin-top: 3%;
  padding: 2%;
  border: none !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #ffffff !important;
  background-color: #FF9400 !important;
}

.aboutlink {
  color: #FF9400 !important;
}

.alt3 {
  border-radius: 25px !important;
  border: none !important;
  text-align: left;
  color: #ffffff !important;
  background-color: #3d386b !important;
}

.NavDropdown.Item {

  right: 0 !important;
  left: 50%  !important;
  border-radius: 25px !important;
  border: none !important;
  text-align: left;
  display: flex !important;
  justify-content: left !important;
  align-content: left !important;
  align-items: left !important;
  color: #ffffff !important;
  background-color: #3d386b !important;
}


.submitbutton {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.TARO-button {
  border-radius: 25px !important;
  background-color: #3d386b;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

Nav {
  margin-bottom: 25px !important;
  background-color: #3d386b !important;
  position: fixed !important;
  font-family: 'Lexend Deca', sans-serif;
  color: #FF9400;
}

.basic-nav-dropdown {
  color: #FF9400 !important;
}

.main  {
  font-family: 'Lexend Deca', sans-serif;
  text-align: justify !important;
  text-justify: inter-word !important;
  box-sizing: border-box !important;
  padding: 15px;
}

.main2 {
  font-size: 18px !important;
  text-align: left !important;
}

.Wallet {
  border-radius: 25px !important;
  margin-top: 3%;
  margin-bottom: 1%;
}

Button {
  border-radius: 25px !important;
  background-color: #3d386b !important;
  border: none !important;
  color: #3d386b ;
}

Button:hover {
  border-radius: 25px !important;
  background-color: #FF9400 !important;
  border: none !important;
  color: #3d386b !important;
}

.handleOnClickAgainst:hover {
  border-radius: 25px !important;
  background-color: #00ff15 !important;
  border: none !important;
  color: #3d386b ;
}

button:disabled {
  background-color: #5f5f5f !important;
  color: #cac9c9 !important;
}

.text-medium-left {
  font-size: 1rem !important;
  text-align: center !important;
  display: inline-block !important;
  justify-content: center !important;
  align-content: center !important;
  position: relative !important;
  margin-bottom: 5%;
}

.text-large {
  font-family: 'Lexend Deca', sans-serif !important;
  text-align: center;
  font-size: 2rem !important;
  margin-top: 5% !important;
  margin-bottom: 5%;
}

.text-large-fit {
  font-family: 'Lexend Deca', sans-serif !important;
  text-align: center;
  font-size: 2rem !important;
}

.text-large-quiz {
  font-family: 'Lexend Deca', sans-serif !important;
  text-align: left;
  font-size: 20px !important;
}

.text-large-left {
  font-size: 2rem !important;
  text-align: left !important;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 15px;
}

.floating {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.gray {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  background-image: linear-gradient(#eee, rgb(204, 200, 200));
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.top {
  position: fixed top;
}

.orange-unlock {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  background-image: linear-gradient(#FF9400, #ffc16b);
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.valert {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  background-image: linear-gradient(#dc3840, #e26c72);
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.yellow-unlock {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  background-image: linear-gradient(#FAC91A, #fde17c);
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.gray2 {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  background-image: linear-gradient(#3d386b, #827bbb);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #ffffff !important;
  text-align: left !important;
}

.about {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  padding-top: 1%;
  padding-bottom: 1%;
  background-image: linear-gradient(#3d386b, #726baf);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #ffffff !important;
}

.yellowB {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  padding-top: 3%;
  padding-bottom: 1%;
  background-image: linear-gradient(#FAC91a,#fcd95c);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.orangeB {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  padding-top: 3%;
  padding-bottom: 1%;
  background-image: linear-gradient(#FF9400,#fab759);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.leaderboard {
border-radius: 25px;
width:100%;
max-width: 720px;
margin: 3% auto;
display: flex !important;
justify-content: center !important;
align-content: center !important;
align-items: center !important;
}

.list-group-item {
  color: white;
  background-image: linear-gradient(#3d386b, #242044)!important;
  width:100%;
  max-width: 450px;
  margin: 0% auto;
}

.title {
  color: #3d386b;
  font-size: 2rem !important;
  ;
}

.title2 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #3d386b;
}

.title3 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;

}

.space {
  margin-top: 3%;
}

.create {
  text-align: center;
  width:90% !important;
}

.item {
  display: flex;
  overflow: auto;
  width:100%;
}

.item2 {
  display: flex;
  overflow: auto;
  margin-top: 5% auto;
  width:100%;
  min-height: 150px;
}

.white2 {
  text-align: left;
  margin-bottom: 1% !important;
  font-size: 18px !important;
  color: #ffffff !important;
}

.orange {
  margin-top: 1% !important;
  font-size: 2rem !important;
  color: #FF9400;
}

.orange2 {
  margin-bottom: 3% !important;
  font-size: 18px !important;
  color: #FF9400 !important;
}

.orange3 {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  color: #FF9400 !important;
}

.yellow {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  color: #FAC91a !important;
}

.Vo {
  font-size: 30px !important;
  color: #FAC91a !important;
}

.TARO {
  font-size: 30px;
  color: #FF9400 !important;
}
.purple-unlock {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  font-size: 18px !important;
  color: #3d386b !important;
}

.big-icon {
  font-size: 75px !important;
  text-align: center;
  color: #ffffff;
}

.big-iconf {
  border-radius: 20px;
  background-color: #36a74e;
  background-image: linear-gradient(#36a74e, #82bb8e)!important;
  margin-right: 3% ;
  font-size: 65px !important;
  text-align: center;
  color: #ffffff;
  text-shadow: #cac9c9 !important;
}

.big-icona {
  font-size: 65px !important;
  margin-right: 3%;
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
  background-color: #dc3840;
  background-image: linear-gradient(#dc3840, #da898d)!important;

}

.aboutC {
  text-align: left !important;
  font-size: 20px !important;
  color: #ffffff;
}
.aboutCo {
  text-align: left !important;
  margin-bottom: 2%;
  font-size: 20px !important;
  color: #FF9400;
}

.purple {
  text-align: left !important;
  margin-top: 3%;
  font-size: 2rem !important;
  color: #ffffff;
}


.purple2 {
  margin-top: 1%;
  color: #3d386b;
}

.purple3 {
  font-size: 15px !important;
  text-align: center !important;
  margin-top: 1%;
  color: #3d386b;
}

.white {
  color: #ffffff !important;
  text-align: justify !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
}

.lan {
  background-color: #3d386b !important;
  border: none !important;
}


/* Proposal
 <Card.Body>
            <div className="proposal-table">
              <div className="proposal-main">
                <div className="proposal-title"> Clases de baile en el parque {}</div>
                <div className="proposal-action">type of action: {}</div>
              </div>
            </div>

*/

.proposal {
  border-radius: 25px;
  width:100%;
  max-width: 50%;
  min-width: 450px !important;
  margin: 3% auto;
  background-image: linear-gradient(#3d386b , #7770b4);
  font-family: 'Lexend Deca', sans-serif;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.proposal-table {
  width: 100%;
  display: table !important;

}

.proposal-main {
  display: table-row !important;
}

.orange-card {
  background-image: linear-gradient(#3d386b , #3d386b);
  width: 100%;
  border-radius: 5px;
  margin-top: 5% !important;
  font-size: 15px !important;
  color: #ffffff !important;
}

.orange-card2 {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin-top: 5% !important;
  font-size: 15px !important;
  color: #ffffff !important;
}

.yellow-card {
  width: 100%;
  margin-left: 2%;
  border-radius: 5px;
  margin-top: 3% !important;
  font-size: 15px !important;
  color: #ffffff !important;
}

.white-card {
  width: 100%;
  margin-left: 2%;
  border-radius: 5px;
  background-image: linear-gradient(#ffffff,#e6e6e6);
  margin-top: 3% !important;;
  font-size: 15px !important;
  text-align: center !important;
  color: #3d386b !important;
}

.feed  {
  color: #ffffff !important;
  font-family: 'Lexend Deca', sans-serif;
  text-align: justify !important;
  text-justify: inter-word !important;
  box-sizing: border-box !important;
  padding: 15px;
}

.proposal-title {
  width: 75%;
  display: table-cell;
  text-align: left !important;
  font-size: 23px !important;
  color: #ffffff !important;
}

.proposal-title2 {
  width: 25%;
  display: table-cell;
  align-content: right !important;
  text-align: right !important;
  font-size: 23px !important;
  color: #ffffff !important;
}

.proposal-action {
  display: table-cell;
  text-align: right !important;
  font-size: 15px !important;
  color: #FF9400 !important;
}

.proposal-sub {
  width: 50% !important;
  display: table-cell;
  text-align: left !important;
  font-size: 15px !important;
  color: #3d386b !important;
}

.proposal-description {
  padding-left: 3%;
  display: table-cell;
  text-align: left !important;
  font-size: 15px !important;
  color: #ffffff !important;
}

.proposal-subaction {
  display: table-cell;
  text-align: right !important;
  font-size: 15px !important;
  color: #3d386b !important;
}

.against {
  background-color: #3d386b !important;
  border-radius: 25px !important;
  margin-top: 3%;
  margin-bottom: 1%;
}

.modal {
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
  text-align: center !important;
  font-family: 'Lexend Deca', sans-serif !important;
  border: none !important;
}

.orange-modal {
  background-color: #FF9400 !important;
  border-radius: 25px !important;
  background-image: linear-gradient(#FF9400, #ffc16b);
  font-family: 'Lexend Deca', sans-serif !important;
  color: #3d386b !important;
}
